# pnpm .npmrc配置文档： https://pnpm.io/zh/npmrc

# node-linker=pnp

# symlink=false

# hoist默认为true，将所有依赖项都被提升到 node_modules/.pnpm/node_modules中，使得 node_modules中所有的包都可以访问未列出的依赖项。
# 意思就是：允许node_modules中的包存在幻影依赖，如果包使用了未在package.json的dependencies中声明的依赖，那么也让其正常工作。
# hoist=true

registry=https://registry.npmjs.org/
